*.sln
*.swp
Binaries/
Intermediate/
Saved/
Debug/
DerivedDataCache/
Build/
Content/StarterContent/
.vs/
*.pri
Scrapyard.
Makefile
ScrapyardCodeCompletionFolders.txt
ScrapyardCodeLitePreProcessor.txt
CMakeLists.txt
Scrapyard.code-workspace
Scrapyard.kdev4
Scrapyard.pro
Scrapyard.workspace
.idea/
.kdev4/
.vscode/

